<menu>
    <menuitem label='Home'>
        <icon>fa:home fa-fw</icon>
        <menu>
            
            <menuitem label='Cidade Form'>
                <icon>fa:cube fa-fw</icon>
                <action>CidadeForm</action>
            </menuitem>
            
            <menuitem label='Cidade Form Cmopleto'>
                <icon>fa:cube fa-fw</icon>
                <action>CidadeFormCompleto</action>
            </menuitem>
            
            <menuitem label='Cidade List'>
                <icon>fa:cube fa-fw</icon>
                <action>CidadeList</action>
            </menuitem>
            
            <menuitem label='Produto List'>
                <icon>fa:cube fa-fw</icon>
                <action>ProdutoList</action>
            </menuitem>
            
            
        </menu>
    </menuitem>
    <menuitem label='Configuração'>
        <icon>fa:cog fa-fw</icon>
        <menu>
            <menuitem label='Ver módulos'>
                <icon>fa:cube fa-fw</icon>
                <action>SystemModulesCheckView</action>
            </menuitem>
            
            <menuitem label='Setup PHP'>
                <icon>fa:code fa-fw</icon>
                <action>SystemPHPInfoView</action>
            </menuitem>
        </menu>
    </menuitem>
</menu>
